@charset 'UTF-8';
/*------------------------------------------------------------
	デフォルトスタイル
------------------------------------------------------------*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
hgroup, menu, nav, section,
time, mark, audio, video {
	font-size: 1em;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
	display: block;
}

html {
	font-size: 62.5%;
}

body, table,
input, textarea, select, option,
h1, h2, h3, h4, h5, h6 {
	font-family: 'メイリオ', Meiryo, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
	line-height: 1.1;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

table,
input, textarea, select, option {
	line-height: 1.1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

:focus {
	outline: 0;
}

ins {
	text-decoration: none;
}

del {
	text-decoration: line-through;
}

img {
	vertical-align: top;
}

/*------------------------------------------------------------
	書式設定
------------------------------------------------------------*/
/* テキストの位置 */

.taLeft {
	text-align: left !important;
}

.taCenter {
	text-align: center !important;
}

.taRight {
	text-align: right !important;
}

.vTop {
	vertical-align: top !important;
}

.vMiddle {
	vertical-align: middle !important;
}

/* フォントの太さ */

.fwNormal {
	font-weight: normal !important;
}

.fwBold {
	font-weight: bold !important;
}

/*------------------------------------------------------------
	微調整用クラス（※多用しないこと）
------------------------------------------------------------*/

.mt0 {
	margin-top: 0 !important;
}

.mb0 {
	margin-bottom: 0 !important;
}

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/

.clearfix {
	zoom: 1;
}

.clearfix:after {
	display: block;
	clear: both;
	content: '';
}

/*------------------------------------------------------------
	トラッキングタグの余計なスペースを削除
------------------------------------------------------------*/

.trackTags {
	display: none;
}

/*------------------------------------------------------------
	レイアウト
------------------------------------------------------------*/
body {
	min-width: 1100px;
	line-height: 1.5;
	text-align: center;
	font-size: 1.2rem;
}

#container {
	text-align: left;
	background-color: #fff;
}

#main:after {
	display: block;
	clear: both;
	content: '';
}

/*------------------------------------------------------------
	ヘッダー
------------------------------------------------------------*/
#header {
	margin: 0 auto -142px;
	width: 962px;
}

#header h1 {
	padding: 24px 0 0 4px;
	float: left;
}

#header .hTtl {
	float: right;
}

/*------------------------------------------------------------
	フッター
------------------------------------------------------------*/
#footer {
	background: #f6f1d7;
	padding-bottom: 20px;
}

#footer .fBox {
	margin: 0 auto;
	width: 950px;
	color: #000;
	position: relative;
}

#footer .fNavi {
	margin-bottom: 12px;
}

#footer .fNavi li {
	display: inline-block;
	font-size: 1.2rem;
	margin-right: 10px;
}

#footer .fNavi li a {
	margin-right: 10px;
	padding-right: 15px;
	color: #000;
	text-decoration: none;
	background: url(../../images/zei/celebration_reserve/common/fnavi_bg.png) no-repeat right center;
}

#footer .fNavi li a:hover {
	text-decoration: underline;
}

#footer .copyright {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 50%;
	font-size: 1.0rem;
	text-align: right;
}

/*------------------------------------------------------------
	index.html
------------------------------------------------------------*/
.mainVisual {
	background: url(../../images/zei/celebration_reserve/index/main_bg.jpg) no-repeat center top;
	background-size: cover;
}

#pageTtl {
	margin: 0 auto;
	padding: 21px 0 26px;
	width: 1078px;
	background: url(../../images/zei/celebration_reserve/index/h2_bg.png) no-repeat left top;
}

#pageTtl .h2Ttl {
	margin-left: 60px;
}

#main {
	padding: 24px 0;
	background-color: #F6F1D7;
}

#tac,
#time,
#celebration {
	margin: 0 auto;
	width: 952px;
}

#tac {
	margin-bottom: 43px;
}

#tac .h3Ttl {
	margin-bottom: 26px;
	font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", serif;
	font-size: 2.8rem;
	text-align: center;
}

#tac p {
	margin: 0 46px;
	font-size: 1.8rem;
	line-height: 1.65;
}

#tac p span {
	color: #e60012;
}

#tac p a:hover {
	text-decoration: underline;
}

#time {
	margin-bottom: 48px;
}

#time .h3Ttl {
	margin-bottom: 20px;
	padding: 8px 22px 7px;
	background-color: #D6C677;
}

#time .ttlBox {
	position: relative;
}

#time .timeList {
	margin-bottom: 8px;
}

#time .timeList li {
	padding-left: 10px;
	float: left;
}

#time .timeList li:first-child {
	padding-left: 0;
}

#time .timeList + p {
	font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
	font-weight: bold;
}

#time .textLink {
	position: absolute;
	top: 10px;
	right: 22px;
}

#time .textLink a {
	padding-left: 22px;
	display: inline-block;
	color: #000;
	font-size: 1.4rem;
	background: url(../../images/zei/celebration_reserve/common/icon/icon02.png) no-repeat left 5px;
}

#time .textLink a:hover {
	text-decoration: none;
}

#celebration .h3Ttl {
	margin-bottom: 20px;
	padding: 7px 22px 9px;
	background-color: #D6C677;
}

#celebration .stepUl li {
	float: left;
}

#celebration .stepUl li {
	padding-left: 25px;
	background: url(../../images/zei/celebration_reserve/common/icon/icon01.png) no-repeat 9px center;
}

#celebration .stepUl li:first-child {
	padding-left: 0;
	background: none;
}

#celebration {
	margin-bottom: 50px;
}

#contact {
	margin: 0 auto;
	width: 950px;
	background: #FFF;
	border-radius: 10px;
	padding: 32px 51px 20px 49px;
	box-sizing: border-box;
}

#contact .contactH3 {
	margin-bottom: 15px;
}

#contact span.error {
	margin-top: 5px;
	margin-bottom: 5px;
	display: block;
	color: #E60012;
	clear: both;
}

#contact > .redNote {
	color: #e60012;
	font-size: 1.4rem;
	margin-bottom: 9px;
}

#contact .contactBox {
	border: 5px solid #F2F2F2;
	padding: 24px 25px;
}

#contact .formTable {
	border-collapse: collapse;
	width: 100%;
}

#contact .formTable .dotTr td {
	padding: 0!important;
	width: 100%;
	height: 3px;
	background: #FFF url(../../images/zei/celebration_reserve/index/line.png) repeat-x left 1px;
}

#contact .formTable th {
	font-size: 1.4rem;
	width: 29.3%;
	background: #F2F2F2;
	padding: 8px 20px 4px;
	box-sizing: border-box;
	vertical-align: top;
	text-align: left;
	line-height: 1.4;
}

#contact .formTable td {
	padding: 7px 0 7px 21px;
	font-size: 1.2rem;
	background: #FFF;
	vertical-align: top;
}

#contact .formTable td input[type="text"],
#contact .formTable td input[type="tel"],
#contact .formTable td input[type="email"] {
	margin-right: 5px;
	padding-right: 2px;
	padding-left: 2px;
	width: 146px;
	height: 14px;
	border: 1px solid #CDCCCC;
	font-size: 1.2rem;
	line-height: 14px;
}

#contact .formTable td input[type="email"] {
	width: 366px;
}

#contact .formTable td input[type="radio"] {
	margin-top: 0!important;
	vertical-align: middle;
}

#contact .formTable td select {
	font-size: 1.2rem;
	border: 1px solid #CDCCCC;
	min-width: 152px;
}

#contact .formTable #questionnaire td select {
	min-width: 204px;
}

#contact .formTable td .note {
	color: #A3A3A3;
	font-size: 1.2rem;
}

#contact .formTable td span.name {
	font-size: 1.2rem;
	width: 28px;
	text-align: center;
	display: inline-block;
	margin-right: 4px;
}

#contact .formTable td .info {
	overflow: hidden;
	margin-bottom: 5px;
}

#contact .formTable td .info p {
	line-height: 1.8;
	float: left;
	width: 280px;
}

#contact .formTable td .redNote {
	color: #e60012;
}

#contact .formTable .text4 .blueNote,
#contact .formTable td .blueNote {
	color: #0033cc;
}

#contact .formTable td .info3 > span {
	margin-right: 15px;
}

#contact .formTable td .info3 input {
	margin-top: 1px;
	margin-bottom: 1px;
	vertical-align: middle;
}

#contact .formTable td .info4 {
	color: #0033cc;
	line-height: 1.5;
	margin-bottom: 20px;
}

#contact .formTable td .info5 {
	font-weight: bold;
	margin-bottom: 8px;
}

#contact .formTable .subTable {
	width: 538px;
	overflow: hidden;
	margin-bottom: 20px;
}

#contact .formTable .subTable table {
	width: 540px;
	margin-left: -1px;
	border-collapse: collapse;
}

#contact .formTable .subTable th {
	font-size: 1.2rem;
	width: 226px;
	background: #FFF;
	padding: 5px 5px 4px;
	border: 1px solid #CDCCCC;
	vertical-align: middle;
}

#contact .formTable .subTable td {
	padding: 0;
	background: #FFF;
	border: 1px solid #CDCCCC;
	text-align: center;
	font-size: 1.2rem;
	vertical-align: middle;
}

#contact .formTable .subTable .first td {
	padding: 7px 0 6px 2px;
}

#contact .formTable td .info6 p {
	width: 150px;
	line-height: 1.5;
}

#contact .formTable td .info6 p.infoText2 {
	width: 265px;
}

#contact .formTable td .info6 > span {
	margin-right: 15px;
	line-height: 1.5;
}

#contact .formTable td .info6 input[type="checkbox"] {
	margin-top: 1px;
	vertical-align: middle;
}

#contact .formTable td .info6 input[type="text"] {
	width: 60px;
}

#contact .formTable td .text {
	margin: 12px 0 7px;
}

#contact .formTable td .text2 {
	margin-bottom: 7px;
}

#contact .formTable td textarea {
	width: 514px;
	height: 72px;
	border: 1px solid #CDCCCC;
	font-size: 1.2rem;
	line-height: 1.3;
	box-sizing: border-box;
}

#contact .formTable td .ttl {
	font-size: 1.6rem;
	font-weight: bold;
	line-height: 1.5;
	margin-bottom: 8px;
}

#contact .formTable td .ttl span {
	font-size: 1.2rem;
	margin-left: 10px;
}

#contact .formTable td .text3 {
	text-indent: -1em;
	padding-left: 1em;
	line-height: 1.5;
}

#contact .formTable td .text4 {
	font-weight: bold;
	margin: 10px 0 5px;
}

#contact .formTable td .text4 span {
	font-weight: normal;
	margin-left: 5px;
}

#contact .formTable td .textarea1 {
	padding: 8px 10px;
	line-height: 1.5;
}

#contact .formTable {
	margin-bottom: 6px;
}

#contact .txtBox {
	padding: 20px 20px 16px;
	border: 1px solid #CDCCCC;
	background-color: #FFFBC7;
}

#contact .txtBox p {
	text-align: center;
	font-size: 1.4rem;
	font-weight: bold;
}

#contact .txtBox .ttl {
	margin-bottom: 5px;
	color: #e60012;
	font-size: 2.4rem;
	line-height: 1.25;
}

#contact .txtBox .txt {
	margin-bottom: 9px;
	padding-bottom: 14px;
	border-bottom: 1px dotted #CCC99F;
}

#contact .txtBox .txtDl {
	margin-bottom: 9px;
	padding: 0 0 12px 20px;
	width: 100%;
	display: table;
	border-bottom: 1px dotted #CCC99F;
}

#contact .txtBox .txtDl dt,
#contact .txtBox .txtDl dd {
	display: table-cell;
}

#contact .txtBox .txtDl dt {
	width: 32%;
	font-weight: bold;
	vertical-align: middle;
}

#contact .txtBox .txtDl dd li {
	padding-left: 1em;
	text-indent: -1em;
}

#contact .txtBox .txtDl dd li span {
	color: #e60012;
}

#contact .txtBox .hope,
#contact .txtBox .txtUl {
	margin-left: 20px;
}

#contact .txtBox .hope {
	margin-bottom: 12px;
}

#contact .txtBox .hope p {
	margin-bottom: 0;
	width: 376px;
	float: left;
	text-align: left;
	font-size: 1.6rem;
}

#contact .txtBox .hope .checkUl {
	margin-top: 4px;
	float: left;
}

#contact .txtBox .hope .checkUl li {
	width: 130px;
	display: inline-block;
}

#contact .txtBox .hope .checkUl li input {
	margin-top: 0;
	vertical-align: middle;
}

#contact .txtBox .txtUl li {
	padding-left: 1em;
	text-indent: -1em;
}

#contact .itemBox .ttl {
	margin: 18px 0 3px;
	font-size: 14px;
	font-weight: bold;
}

#contact .itemBox .itemUl {
	margin-left: 20px;
}

#contact .itemBox .itemUl li {
	padding-left: 1.8em;
	text-indent: -1.8em;
}

#contact .itemBox .itemUl li span {
	color: #e60012;
}

#contact .itemBox .itemUl li a {
	color: #000;
	text-decoration: none;
}

#contact .itemBox .itemUl li a:hover {
	text-decoration: underline;
}

#contact .itemBox .txt {
	margin-left: 20px;
}

#contact .itemBox .txt a {
	color: #000;
	text-decoration: none;
}

#contact .itemBox .txt a:hover {
	text-decoration: underline;
}

#contact .errorTxt {
	margin: 18px 0 5px;
	color: #e60012;
	font-size: 1.4rem;
	text-align: center;
}

#contact .submit {
	margin-top: 40px;
	text-align: center;
}

#contact .submit li {
	display: inline;
}

#contact .submit li input {
	cursor: pointer;
	vertical-align: top;
}

#contact .submit li input:hover {
	opacity: 0.7;
	filter: alpha(opacity=70);
}

#contact .contactBox {
	margin-bottom: 11px;
}

#contact .redNote01 {
	margin-bottom: 11px;
}

#contact .ttlTxt {
	margin-bottom: 5px;
	font-weight: bold;
}

#contact .txt01 {
	margin-bottom: 20px;
}

#contact .mailTxt a {
	color: #000;
}

#contact .mailTxt a:hover {
	text-decoration: none;
}

/*------------------------------------------------------------
	error
------------------------------------------------------------*/
body#error #contact .submit {
	margin-top: 0;
}

/*------------------------------------------------------------
	confirm
------------------------------------------------------------*/
body#confirm .contactH3 {
	font-size: 2.4rem;
}

body#confirm #contact .formTable td {
	padding-top: 10px;
}

body#confirm #contact .formTable td .info {
	line-height: 1.8;
}

body#confirm #contact .formTable .subTable {
	margin-top: 20px;
}

body#confirm #contact .formTable .subTable td {
	padding-top: 5px;
	padding-left: 10px;
	text-align: left;
}

body#confirm #contact .formTable td .ttl {
	font-size: 1.2rem;
}

body#confirm #contact .txtBox .hope p {
	font-size: 1.2rem;
}


/*------------------------------------------------------------
	thanks
------------------------------------------------------------*/
body#thanks .contactH3 {
	font-size: 2.4rem;
}

body#thanks #contact .redNote01 {
	margin-top: 50px;
    margin-bottom: 11px;
}